docker/etc/nginx/default.conf
.idea/*
logs
htdocs/wp/*
htdocs/wp-content/debug.log
htdocs/wp-content/db.php
htdocs/wp-content/languages
htdocs/wp-content/plugins
htdocs/wp-content/themes/**/bower_components/
htdocs/wp-content/themes/**/node_modules/
htdocs/wp-content/themes/**/vendor/
htdocs/wp-content/mu-plugins/wp-migrate-db-pro-compatibility.php
htdocs/wp-content/uploads/
vendor/*
exports/*
update
.project
project.cfg
.settings/*
.buildpath
.DS_Store
_ide_helper.php